:root{
    --column-row:16;
}

#maincontainer{
    height:575px;
    width: 575px;
    border: solid black;
    margin:auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(var(--column-row), auto);
    grid-template-rows: repeat(var(--column-row),auto);
}

.squares{
    border: 1px solid;
}

h1{
    text-align: center;
    font-size: 50px;
}

button{
    color:blue;
}